{% extends "layout.html" %}
{% block title %}Research Platform{% endblock %}
{% block page %}UWI Research Platform{% endblock %}

{{ super() }}

{% block content %}
    
            <div class="autPub">
                <br>
                <p>Author Name Publications</p>
                <form action="/addPublication"><button class="addPub">Add Publication</button><form>
                <div class="autPubs">
                    <div class="pub1">
                        <br>
                        <p>Publication Title</p>
                        <form action="/publication"><button class="viewPub">View</button></form>
                    </div>
                    <div class="pub1">
                            <br>
                            <p>Publication Title</p>
                            <form action="/publication"><button class="viewPub">View</button></form>
                        </div>
                        <div class="pub1">
                                <br>
                                <p>Publication Title</p>
                                <form action="/publication"><button class="viewPub">View</button></form>
                            </div>
                            <div class="pub1">
                                    <br>
                                    <p>Publication Title</p>
                                    <form action="/publication"><button class="viewPub">View</button></form>
                                </div>
                </div>
            </div>
       
{% endblock %}
