{% extends "layout.html" %}
{% block title %}Research Platform{% endblock %}
{% block page %}UWI Research Platform{% endblock %}

{{ super() }}

{% block content %}
    
            <div class="publication">
                <div class="pubone">
                    <p class="title">Publication Title</p>
                    <br>
                    <a href="/author"><p>Author Name</p></a>
                    <a href="/author"><p>Co Author Name</p></a>
                </div>
                <br>
                <div class="pubtwo">
                        <p>Publisher</p>
                        <p>Publication Year</p>
                        <p>Publication DOI</p>
                        <p>Publication URL</p>
                </div>
            </div>
        
{% endblock %}
